
h1 {position: relative;
    margin-top: 41%;
    margin-bottom:0;
    left:0;
    right:0;
    padding:0;
    margin-left:0;
    margin-right:0;
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    font-family: 'Arial';
    font-weight: 100;
    font-size: 3em;
    font-size: 4vw;
    z-index:1;}

h2 {position: relative;
    left:0;
    right:0;
    padding:0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    overflow:hidden;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    font-family: 'Arial';
    font-weight: 100;
    font-size: 3em;
    font-size: 4vw;
    z-index:1;}

img.a {width: 50%;
    overflow:hidden;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;}

img.b {width: 50%;
    position: absolute;
    top:0;
    right:0;
    z-index:-1;}

img.c {width: 18%;
    margin-top: 1%;
    position: absolute;
    align:center;
    margin-left: 2%;
    z-index: 1;}

img.d {width: 12%;
    margin-top: 1%;
    position: absolute;
    align:center;
    margin-left: 5%;
    z-index: 1;}

img.e {width: 15%;
    position: absolute;
    margin-top: 1.8%;
    margin-left: 2%;
    z-index:2;}

img.f {width: 11%;
    position: absolute;
    margin-top: 1.8%;
    margin-left: 85%;
    z-index:2;}

img.article {width:700px;
    margin-top:0px;
}

ul{text-align: center;
    margin:0;
    padding:0;
    background-color: black;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    position:fixed;
    z-index:1000;
    font-size: 1em;
    font-size: 1.5vw;
}

li {
    text-align: center;
    color: white;
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 10px 0px;
    text-transform: uppercase;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

p{margin-top: 0px;
    margin-left:5px;
    font-size: 1.2vw;
    padding-top:0px;
    }

h3,h4{margin-left: 10px;
    text-align:left;
    font-size:35px;
    margin-top:10px;
    font-family: 'Arial';
    padding-bottom:5px;
    margin-bottom:5px;}


div.div1{
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    width:700px;
    height:900px;
    border-style:solid;
    margin-bottom:0px;
    border-width:2px;
    border-color:gray;}

hr.line1 {display:block;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin: 0 auto;
    border-style:solid;
    border-color:#CFCFCF;
    border-width:1px;
    margin-top:25px;
}